name: test-aries-vcr-issuer
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
defaults:
  run:
    shell: bash
jobs:
  test:
    runs-on: ubuntu-latest
    if: (github.event_name == 'schedule' && github.repository == 'hyperledger/aries-vcr-issuer-controller') || (github.event_name != 'schedule')
    steps:
      - name: checkout-aries-vcr-issuer
        uses: actions/checkout@v2
        with:
          path: aries-vcr-issuer-controller
      - name: run-von-network
        uses: ./aries-vcr-issuer-controller/actions/run-von-network
      - name: install-s2i
        uses: ./aries-vcr-issuer-controller/actions/install-s2i
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
      - name: run-aries-vcr
        uses: ./aries-vcr-issuer-controller/actions/run-aries-vcr
      - name: run-aries-vcr-issuer-tests
        uses: ./aries-vcr-issuer-controller/actions/run-issuer-tests
        continue-on-error: false
